.navbar-brand {
    padding-left: 1em;
}
.navbar-colour {
    background-color: #29282d;
}
.page-size {
    height: calc(100vh - 56px);
    width: 100%;
}
.dropdown-colour {
    background-color: #333333;
}