<div>
Orderly GDPR Policy 1. What is this privacy notice/policy?


1.1. This Data Privacy Notice/Policy describes the categories of personal data Orderly process and for what purposes. Orderly are committed to collecting and using such data fairly and in accordance with the requirements of the General Data Protection Regulations (GDPR), the regulations set by the European Union, and Data Protection Act 2018 (DPA 2018), the UK law that encompasses the GDPR.

1.2. This Privacy Notice/Policy applies to users who have signed up to the Orderly app.


2. Who we are


2.1. This privacy policy applies to Orderly.


2.2. All questions and concerns regarding this policy should be addressed to contactus@orderlyapp.live.


2.3. From this point on Orderly will be referred to as “we”.


2.4. As we are not a public body, do not monitor any individuals and do not process any data relating to criminal convictions and offences, we do not require a data protection officer.

3. The data we may process


3.1. User registration data is collected from user input when they sign up to Orderly. Business accounts must supply more information regarding their business to register on the app, and may optionally supply other additional information at any time.

3.2. We do not knowingly collect personal data from anyone under 13 years of age. If we become aware that we have unknowingly collected personal data from a child under the age of 13, we will delete such information from our records immediately.

3.3. We may collect the following data:

• User profile information: Users must supply username and password to create an account, as well as an email address. The email address is necessary in order to authenticate their account.
• Business information: Businesses must supply information regarding their business so that the user may find a business that suits their needs. Every business must have a name and description and select a category that describes their business. Additionally, businesses may submit a physical location that a client may visit, products and other inventory items that may be managed from within our app, and events to add to their calendar.
• The IP addresses of all website users are collected.

4. The lawful basis we process your data by


4.1. We comply with our obligations under the GDPR and DPA 2018 by keeping personal data up to date; by storing and destroying it securely; by not collecting or retaining excessive amounts of data; by protecting personal data from loss, misuse, unauthorised access and disclosure and by ensuring that appropriate technical measures are in place to protect personal data.

4.2. Processing of data is lawful as the data subject must give consent to the processing of their information upon registering with Orderly. When registering an account the user must tick a box which confirms their consent.

4.3. We use personal data for the following purposes:

• Authenticating new Orderly accounts via email.
• Identifying user accounts by their username.

4.4. We do not collect any personal sensitive (special) data.


5. Our retention periods


5.1. All information relevant to an account, such as registered email and password, is collected at signup and retained for the life of the account. If the account is closed the information is deleted immediately. Any additional business related information is entered optionally by the business, and the business may choose to remove this through the webapp at any time, in which case the information is deleted. IP addresses collected from all website users are removed from the servers every 10 days.

6. Sharing your information


6.1. The only shared personal information is the user’s username, which is shared by any businesses they contact. The only other shared information is business related information, such as their description and products, which is shared for all users to view.

6.2. We will however share your personal information with others outside of Orderly where we need meet a legal obligation. This may include local authority services and law enforcement. We will only share your personal information to the extent needed for those purposes.

6.3. We will only share your data with third parties outside of the organisation where there is a legitimate reason to do so.

6.4. We will never sell your personal information to any third party.


6.5. Where personal data is shared with third parties we will seek assurances that your personal data will be kept confidential and that the third party fully complies with the GDPR and DPA 2018.

7. How we store your personal data

7.1. We generally store personal information in the following ways:

• Zoho – Email service used to activate email accounts. They store usernames and email addresses in the EU to comply with GDPR. Zoho privacy policy: https://www.zoho.com/privacy.html
• All personal information collected is stored securely on a server at the University of Birmingham, United Kingdom, which is within the EU/EEA.

8. Further processing


8.1. If we wish to use your personal data for a new purpose, not covered by this Data Protection Notice, then we will provide you with a new notice explaining this new use prior to commencing the processing and setting out the relevant purposes and processing conditions. Where and whenever necessary, we will seek your prior consent to the new processing.

9. How we provide this privacy notice


9.1. A link to this document hosted on our website is provided to those whose data is being processed by us. A printed version is also available on request.

10. Your rights


10.1. As a Data Subject, you have the right to object to how we process your personal information. You also have the right to access, correct, sometimes delete and restrict the personal information we use. In addition, you have a right to complain to us and to the Information Commissioner’s Office (www.ico.org.uk).

10.2. Unless subject to an exemption under the GDPR and DPA 2018, you have the following rights with respect to your personal data:
• The right to be informed – you have a right to know how your data will be used by us.
• The right to access your personal data – you can ask us to share with you the data we have about you. This is a Data Subject Access Request.
• The right to rectification – this just means you can update your data if it’s inaccurate or if something is missing.
• The right to erasure – this means that you have the right to request that we delete any personal data we have about you.
• The right to restrict processing – if you think that we are not processing your data in line with this privacy notice then you have the right to restrict any further use of that data until the issue is resolved.
• The right to data portability – this means that if you ask us we will have to share your data with you in a way that can be read digitally – such as a pdf. This makes it easier to share information with others.
• The right to object – you can object to the ways your data is being used.
• Rights in relation to automated decision making and profiling – this protects you in cases where decision are being made about you based entirely on automated processes rather than a human input, it’s highly unlikely that this will be used by us.

11. Cookies


11.1. The only cookies we collect are to store a user’s security information. This is saved by JHipster and will only be retained until the user clears their cookies."
    style="width: 10%"
  >
    For screen readers only
  <p><b>1. What is this privacy notice/policy?</b><br /><br /></p>
  <p>
    1.1. This Data Privacy Notice/Policy describes the categories of personal data Orderly process and for what purposes. Orderly are
    committed to collecting and using such data fairly and in accordance with the requirements of the General Data Protection Regulations
    (GDPR), the regulations set by the European Union, and Data Protection Act 2018 (DPA 2018), the UK law that encompasses the GDPR.<br /><br />
  </p>
  <p>1.2. This Privacy Notice/Policy applies to users who have signed up to the Orderly app.<br /><br /></p>
  <p><b>2. Who we are</b><br /><br /></p>
  <p>2.1. This privacy policy applies to Orderly.<br /><br /></p>
  <p>2.2. All questions and concerns regarding this policy should be addressed to contactus@orderlyapp.live.<br /><br /></p>
  <p>2.3. From this point on Orderly will be referred to as “we”.<br /><br /></p>
  <p>
    2.4. As we are not a public body, do not monitor any individuals and do not process any data relating to criminal convictions and
    offences, we do not require a data protection officer.<br /><br />
  </p>
  <p><b>3. The data we may process</b><br /><br /></p>
  <p>
    3.1. User registration data is collected from user input when they sign up to Orderly. Business accounts must supply more information
    regarding their business to register on the app, and may optionally supply other additional information at any time.<br /><br />
  </p>
  <p>
    3.2. We do not knowingly collect personal data from anyone under 13 years of age. If we become aware that we have unknowingly collected
    personal data from a child under the age of 13, we will delete such information from our records immediately.<br /><br />
  </p>
  <p>3.3. We may collect the following data:<br /></p>
  <p></p>
  <div class="indent">
    • User profile information: Users must supply username and password to create an account, as well as an email address. The email address
    is necessary in order to authenticate their account.<br />
  </div>
  <p></p>
  <div class="indent">
    • Business information: Businesses must supply information regarding their business so that the user may find a business that suits
    their needs. Every business must have a name and description and select a category that describes their business. Additionally,
    businesses may submit a physical location that a client may visit, products and other inventory items that may be managed from within
    our app, and events to add to their calendar.<br />
  </div>
  <p></p>
  <div class="indent">• The IP addresses of all website users are collected.<br /><br /></div>
  <p><b>4. The lawful basis we process your data by</b><br /><br /></p>
  <p>
    4.1. We comply with our obligations under the GDPR and DPA 2018 by keeping personal data up to date; by storing and destroying it
    securely; by not collecting or retaining excessive amounts of data; by protecting personal data from loss, misuse, unauthorised access
    and disclosure and by ensuring that appropriate technical measures are in place to protect personal data.<br /><br />
  </p>
  <p>
    4.2. Processing of data is lawful as the data subject must give consent to the processing of their information upon registering with
    Orderly. When registering an account the user must tick a box which confirms their consent.<br /><br />
  </p>
  <p>4.3. We use personal data for the following purposes:<br /></p>
  <p></p>
  <div class="indent">• Authenticating new Orderly accounts via email.<br /></div>
  <p></p>
  <div class="indent">• Identifying user accounts by their username.<br /><br /></div>
  <p>4.4. We do not collect any personal sensitive (special) data.<br /><br /></p>
  <p><b>5. Our retention periods</b><br /><br /></p>
  <p>
    5.1. All information relevant to an account, such as registered email and password, is collected at signup and retained for the life of
    the account. If the account is closed the information is deleted immediately. Any additional business related information is entered
    optionally by the business, and the business may choose to remove this through the webapp at any time, in which case the information is
    deleted. IP addresses collected from all website users are removed from the servers every 10 days.<br /><br />
  </p>
  <p><b>6. Sharing your information</b><br /><br /></p>
  <p>
    6.1. The only shared personal information is the user’s username, which is shared by any businesses they contact. The only other shared
    information is business related information, such as their description and products, which is shared for all users to view.<br /><br />
  </p>
  <p>
    6.2. We will however share your personal information with others outside of Orderly where we need meet a legal obligation. This may
    include local authority services and law enforcement. We will only share your personal information to the extent needed for those
    purposes.<br /><br />
  </p>
  <p>
    6.3. We will only share your data with third parties outside of the organisation where there is a legitimate reason to do so.<br /><br />
  </p>
  <p>6.4. We will never sell your personal information to any third party.<br /><br /></p>
  <p>
    6.5. Where personal data is shared with third parties we will seek assurances that your personal data will be kept confidential and that
    the third party fully complies with the GDPR and DPA 2018.<br /><br />
  </p>
  <p><b>7. How we store your personal data</b><br /></p>
  <p>7.1. We generally store personal information in the following ways:<br /></p>
  <p></p>
  <div class="indent">
    • Zoho – Email service used to activate email accounts. They store usernames and email addresses in the EU to comply with GDPR. Zoho
    privacy policy: https://www.zoho.com/privacy.html<br />
  </div>
  <p></p>
  <div class="indent">
    • All personal information collected is stored securely on a server at the University of Birmingham, United Kingdom, which is within the
    EU/EEA.<br /><br />
  </div>
  <p><b>8. Further processing</b><br /><br /></p>
  <p>
    8.1. If we wish to use your personal data for a new purpose, not covered by this Data Protection Notice, then we will provide you with a
    new notice explaining this new use prior to commencing the processing and setting out the relevant purposes and processing conditions.
    Where and whenever necessary, we will seek your prior consent to the new processing.<br /><br />
  </p>
  <p><b>9. How we provide this privacy notice</b><br /><br /></p>
  <p>
    9.1. A link to this document hosted on our website is provided to those whose data is being processed by us. A printed version is also
    available on request.<br /><br />
  </p>
  <p><b>10. Your rights</b><br /><br /></p>
  <p>
    10.1. As a Data Subject, you have the right to object to how we process your personal information. You also have the right to access,
    correct, sometimes delete and restrict the personal information we use. In addition, you have a right to complain to us and to the
    Information Commissioner’s Office (www.ico.org.uk).<br /><br />
  </p>
  <p>
    10.2. Unless subject to an exemption under the GDPR and DPA 2018, you have the following rights with respect to your personal data:<br />
  </p>
  <p></p>
  <div class="indent">• The right to be informed – you have a right to know how your data will be used by us.<br /></div>
  <p></p>
  <div class="indent">
    • The right to access your personal data – you can ask us to share with you the data we have about you. This is a Data Subject Access
    Request.<br />
  </div>
  <p></p>
  <div class="indent">
    • The right to rectification – this just means you can update your data if it’s inaccurate or if something is missing.<br />
  </div>
  <p></p>
  <div class="indent">
    • The right to erasure – this means that you have the right to request that we delete any personal data we have about you.<br />
  </div>
  <p></p>
  <div class="indent">
    • The right to restrict processing – if you think that we are not processing your data in line with this privacy notice then you have
    the right to restrict any further use of that data until the issue is resolved.<br />
  </div>
  <p></p>
  <div class="indent">
    • The right to data portability – this means that if you ask us we will have to share your data with you in a way that can be read
    digitally – such as a pdf. This makes it easier to share information with others.<br />
  </div>
  <p></p>
  <div class="indent">• The right to object – you can object to the ways your data is being used.<br /></div>
  <p></p>
  <div class="indent">
    • Rights in relation to automated decision making and profiling – this protects you in cases where decision are being made about you
    based entirely on automated processes rather than a human input, it’s highly unlikely that this will be used by us.<br /><br />
  </div>
  <p><b>11. Cookies</b><br /><br /></p>
  <p>
    11.1. The only cookies we collect are to store a user’s security information. This is saved by JHipster and will only be retained until
    the user clears their cookies.
  </p>
</div>
