<section class="vh-100">
    <div class="row h-100 w-100">
        <div class="col-2 bgcolour">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/team/{{team.id}}"><span> {{teamName}}</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/tasks"><fa-icon [icon]="faPlus"></fa-icon><span> Tasks</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/{{team.id}}/calendar"><fa-icon [icon]="faPlus"></fa-icon><span> Calendar</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/{{team.id}}/discussion"><fa-icon [icon]="faPlus"></fa-icon><span> Discussion</span></a>
                </li>
            </ul>
        </div>
        <div class="col-10 justify-content-center d-flex py-3">
            <div class="issues h-100">
                <div class="row py-3 px-2 mx-0 border-top border-bottom">
                    <div class="col-1">
                        <button type="button" class="btn filters" (click)="onOpenClick()">
                            Open
                        </button>
                    </div>
                    <div class="col-1">
                        <button type="button" class="btn filters" (click)="onClosedClick()">
                            Closed
                        </button>
                    </div>
                    <div class="col-1">
                        <button type="button" class="btn filters" (click)="onAllClick()">
                            All
                        </button>
                    </div>
                    <div class="col-7"></div>
                    <div class="col-2">
                        <button type="button" class="btn btn-primary" (click)="navigateToCreateTask()">
                            Create Task
                        </button>
                    </div>
                </div>
                <div *ngFor="let task of tasks" class="row py-3 px-3">
                    <div class="col">
                        <div class="row px-3">
                            <div class="col-11 px-0">
                                <a class="nav-link active" (click)="viewTask(task.id)">{{task.title}}</a>
                            </div>                            
                        </div>
                        <div class="row px-3">
                            <div class="col-11 px-0">
                                Assigned to {{task.assignee.firstname}} on {{task.startDate}}
                            </div>                            
                        </div>
                    </div>
                    <div class="col-2 px-5">
                        <button type="button" class="btn filters" (click)="onDeleteTask(task.id)">
                            <fa-icon [icon]="faTrashCan"></fa-icon>
                        </button>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>